<?xml version="1.0" encoding="UTF-8"?>

<!--
 ! Licensed to the Apache Software Foundation (ASF) under one   !
 ! or more contributor license agreements.  See the NOTICE file !
 ! distributed with this work for additional information        !
 ! regarding copyright ownership.  The ASF licenses this file   !
 ! to you under the Apache License, Version 2.0 (the            !
 ! "License"); you may not use this file except in compliance   !
 ! with the License.  You may obtain a copy of the License at   !
 !                                                              !
 !   http://www.apache.org/licenses/LICENSE-2.0                 !
 !                                                              !
 ! Unless required by applicable law or agreed to in writing,   !
 ! software distributed under the License is distributed on an  !
 ! "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY       !
 ! KIND, either express or implied.  See the License for the    !
 ! specific language governing permissions and limitations      !
 ! under the License.                                           !
 -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
	
	<!--
	beans which replace Avalon specific container logic
	-->
	
	<bean id="serviceManager"
		class="org.apache.james.container.spring.adaptor.ServiceManagerBridge"
		scope="prototype">
		<!-- Although I started to list all dependencies, it is only needed 
			to specify the ambigous ones! 
			-->
		<property name="beanBlockInfos">
			<map>
				<entry key="James">
					<!-- Store is the only ambigous dependency known for James -->
					<map>
						<entry
							key="org.apache.avalon.cornerstone.services.store.Store"
							value="mailstore"/>
					</map>
				</entry>				
				<entry key="users-store">
					<map>
						<entry
							key="org.apache.avalon.cornerstone.services.store.Store"
							value="mailstore"/>
						<entry
							key="org.apache.avalon.cornerstone.services.datasources.DataSourceSelector"
							value="database-connections"/>
						<entry key="org.apache.james.services.FileSystem"
							value="filesystem"/>
					</map>
				</entry>
				<entry key="mailboxmanager">
					<map>
						<entry
							key="org.apache.avalon.cornerstone.services.store.Store"
							value="mailboxmanager-mailstore"/>
						<entry key="org.apache.james.services.FileSystem"
							value="filesystem"/>
					</map>
				</entry>
				<entry key="remotemanager">
					<map>
						<entry
							key="org.apache.avalon.cornerstone.services.store.Store"
							value="mailstore"/>
						<entry key="org.apache.james.services.UsersStore"
							value="users-store"/>
						<entry key="org.apache.james.services.UsersRepository"
							value="localusersrepository"/>
						<entry
							key="org.apache.avalon.cornerstone.services.sockets.SocketManager"
							value="sockets"/>
						<entry
							key="org.apache.james.services.JamesConnectionManager"
							value="connections"/>
						<entry key="org.apache.james.services.MailServer"
							value="James"/>
						<entry
							key="org.apache.avalon.cornerstone.services.threads.ThreadManager"
							value="thread-manager"/>
						<entry
							key="org.apache.james.services.SpoolManagementService"
							value="spoolmanagement"/>
						<entry
							key="org.apache.james.services.BayesianAnalyzerManagementService"
							value="bayesiananalyzermanagement"/>
						<entry key="org.apache.james.services.DNSServer"
							value="dnsserver"/>
						<entry
							key="org.apache.james.services.ProcessorManagementService"
							value="processormanagement"/>
						<entry
							key="org.apache.james.services.VirtualUserTableManagementService"
							value="virtualusertablemanagement"/>
						<entry
							key="org.apache.james.services.DomainListManagementService"
							value="domainlistmanagement"/>
					</map>
				</entry>
				<entry key="imapserver">
					<map>
						<entry
							key="org.apache.james.services.UsersRepository"
							value="localusersrepository"/>
						<entry
							key="org.apache.avalon.cornerstone.services.sockets.SocketManager"
							value="sockets"/>		
						<entry
							key="org.apache.james.services.JamesConnectionManager"
							value="imap-connections"/>		
						<entry key="org.apache.james.services.MailServer"
							value="James"/>						
						<entry
							key="org.apache.avalon.cornerstone.services.threads.ThreadManager"
							value="thread-manager"/>
						<entry key="org.apache.james.mailboxmanager.manager.MailboxManagerProvider"
							value="mailboxmanager"/>
						<entry key="org.apache.james.services.DNSServer"
							value="dnsserver"/>
					</map>
				</entry>			
				<entry key="pop3server">
					<map>
						<entry
							key="org.apache.james.services.UsersRepository"
							value="localusersrepository"/>
						<entry
							key="org.apache.avalon.cornerstone.services.sockets.SocketManager"
							value="sockets"/>		
						<entry
							key="org.apache.james.services.JamesConnectionManager"
							value="connections"/>		
						<entry key="org.apache.james.services.MailServer"
							value="James"/>						
						<entry
							key="org.apache.avalon.cornerstone.services.threads.ThreadManager"
							value="thread-manager"/>
						<entry key="org.apache.james.services.DNSServer"
							value="dnsserver"/>
					</map>
				</entry>	
				<entry key="smtpserver">
					<map>
						<entry key="org.apache.mailet.MailetContext"
							value="James"/>
						<entry key="org.apache.james.services.UsersRepository"
							value="localusersrepository"/>
						<entry key="org.apache.james.services.DNSServer"
							value="dnsserver"/>
						<entry
							key="org.apache.avalon.cornerstone.services.sockets.SocketManager"
							value="sockets"/>
						<entry
							key="org.apache.james.services.JamesConnectionManager"
							value="connections"/>
						<entry key="org.apache.james.services.MailServer"
							value="James"/>
						<entry
							key="org.apache.avalon.cornerstone.services.threads.ThreadManager"
							value="thread-manager"/>
						<entry key="org.apache.avalon.cornerstone.services.datasources.DataSourceSelector"
							value="database-connections"/>
						<entry key="org.apache.james.services.FileSystem"
							value="filesystem"/>
						<entry key="org.apache.james.services.VirtualUserTable"
							value="defaultvirtualusertable"/>
					</map>
				</entry>	
				<entry key="nntpserver">
					<map>
						<entry
							key="org.apache.james.services.UsersRepository"
							value="localusersrepository"/>
						<entry
							key="org.apache.avalon.cornerstone.services.sockets.SocketManager"
							value="sockets"/>		
						<entry
							key="org.apache.james.services.JamesConnectionManager"
							value="connections"/>		
						<entry key="org.apache.james.nntpserver.repository.NNTPRepository"
							value="nntp-repository"/>						
						<entry
							key="org.apache.avalon.cornerstone.services.threads.ThreadManager"
							value="thread-manager"/>
						<entry key="org.apache.james.services.DNSServer"
							value="dnsserver"/>
					</map>
				</entry>		
				<entry key="spoolmanager">
					<map>
						<entry
							key="org.apache.james.services.SpoolRepository"
							value="spoolrepository"/>
						<entry
							key="org.apache.james.services.MatcherLoader"
							value="matcherpackages"/>		
						<entry
							key="org.apache.james.services.MailetLoader"
							value="mailetpackages"/>		
					</map>
				</entry>																
			</map>
		</property>
	</bean>
	

	<bean name="logWorker"
		class="org.apache.james.container.spring.logging.SystemConsoleLogWorker"/>
	
	<bean name="loggerMap"
		class="org.apache.james.container.spring.adaptor.LoggingBridge">
		<property name="logWorker" ref="logWorker"/>
	</bean>
	
	<bean id="configurationProvider"
		class="org.apache.james.container.spring.adaptor.AvalonConfigurationFileProvider">
		<property name="configurationPath"
			value="src/trunk/config/james-config.xml"/>
	</bean>
	
	<bean id="avalonContext"
		class="org.apache.james.container.spring.adaptor.AvalonContext">
		<property name="applicationHome" value="data"/>
	</bean>
	<!--
	JMX part
	-->
	<bean id="exporter" class="org.springframework.jmx.export.MBeanExporter">
		<property name="autodetect" value="true"/>
		<property name="namingStrategy" ref="namingStrategy"/>
	</bean>
	
	<bean id="namingStrategy"
		class="org.springframework.jmx.export.naming.KeyNamingStrategy">
		<property name="mappings">
			<props>
				<prop key="fetchmail">bean:name=fetchmail</prop>
				<prop key="smtpserver">bean:name=smtpserver</prop>
				<prop key="James">bean:name=James</prop>
				<prop key="dnsserver">bean:name=dnsserver</prop>
				<prop key="remotemanager">bean:name=remotemanager</prop>
				<prop key="pop3server">bean:name=pop3server</prop>
				<prop key="nntpserver">bean:name=nntpserver</prop>
				<prop key="virtualusertablemanagement">bean:name=virtualusertablemanagement</prop>				
				<prop key="spoolmanagement">bean:name=spoolmanagement</prop>								
				<prop key="domainlistmanagement">bean:name=domainlistmanagement</prop>					
				<prop key="processormanagement">bean:name=processormanagement</prop>		
				<prop key="bayesiananalyzermanagement">bean:name=bayesiananalyzermanagement</prop>	
				<prop key="usermanagement">bean:name=usermanagement</prop>					
			</props>
		</property>
	</bean>
	
	<bean id="mbeanServer"
		class="org.springframework.jmx.support.MBeanServerFactoryBean"/>

	<!--
	beans which manage bootstrapping and component lifecycle
	-->

	<bean id="loggerProcessor"
		class="org.apache.james.container.spring.processor.LoggerProcessor">
		<property name="loggerToComponentMapper" ref="loggerMap" />
	</bean>	
	
	<bean id="contextProcessor"
		class="org.apache.james.container.spring.processor.ContextProcessor">
			<property name="context" ref="avalonContext" />
	</bean>	

	<bean id="serviceProcessor"
		class="org.apache.james.container.spring.processor.ServiceProcessor">
		<!-- The listed Beans are excluded/ignored. They could be served directly by Spring DI -->
		<property name="excludeBeans">
			<set>
				<value>spoolmanagement</value>
				<value>spoolrepository</value>
			</set>
		</property>
		<property name="serviceManagerBridge" ref="serviceManager" />
	</bean>
	
	<bean id="configurationProcessor"
		class="org.apache.james.container.spring.processor.ConfigurationProcessor">
			<property name="configurationProvider" ref="configurationProvider" />
	</bean>			
	
	<bean id="initializationProcessor"
		class="org.apache.james.container.spring.processor.InitializationProcessor"/>
	
	<!--
	JAMES components starting from here
	-->
	
	<bean id="database-connections"
		class="org.apache.avalon.cornerstone.blocks.datasources.DefaultDataSourceSelector"/>
	
	<bean id="thread-manager"
		class="org.apache.avalon.cornerstone.blocks.threads.DefaultThreadManager"/>
	
	<bean id="users-store" class="org.apache.james.core.AvalonUsersStore"/>
	
	<bean id="localusersrepository"
		class="org.apache.james.core.LocalJamesUsersRepository"/>
	
	<bean id="dnsserver" class="org.apache.james.dnsserver.DNSServer"/>
	
	<bean id="James" class="org.apache.james.James"/>
	
	<bean id="mailboxmanager"
		class="org.apache.james.mailboxmanager.impl.DefaultMailboxManagerProvider"/>
	
	<bean id="mailboxmanager-mailstore"
		class="org.apache.james.mailboxmanager.mailstore.MyAvalonMailStore"/>
	
	<bean id="matcherpackages"
		class="org.apache.james.transport.JamesMatcherLoader"/>
	
	<bean id="mailetpackages"
		class="org.apache.james.transport.JamesMailetLoader"/>
	
	<bean id="mailstore" class="org.apache.james.core.AvalonMailStore"/>
	
	<bean id="spoolrepository"
		class="org.apache.james.mailrepository.MailStoreSpoolRepository">
		<property name="store" ref="mailstore"/>
	</bean>
	
	<bean id="spoolmanager" class="org.apache.james.transport.JamesSpoolManager"/>
	
	<bean id="spoolmanagement"
		class="org.apache.james.management.SpoolManagement">
    	<property name="store" ref="mailstore"/>
	</bean>
	
	<bean id="processormanagement"
		class="org.apache.james.management.ProcessorManagement"/>
	
	<bean id="bayesiananalyzermanagement"
		class="org.apache.james.management.BayesianAnalyzerManagement"/>
	
	<bean id="sockets"
		class="org.apache.avalon.cornerstone.blocks.sockets.DefaultSocketManager"/>
	
	<bean id="remotemanager" class="org.apache.james.remotemanager.RemoteManager">
		<!--  Stopping here because of unknown use of sockets and threads
	<property name="store" ref="mailstore"/>
    <property name="usersStore" ref="users-store" />
    <property name="users" ref="localusersrepository" />
    <property name="" ref="sockets"
    <property name="connectionManager" ref="connections"
    <property name="mailServer" ref="James" />
    <property name="" ref="thread-manager" />
    <property name="spoolManagement" ref="spoolmanagement" />
    <property name="bayesianAnalyzerManagement" ref="bayesiananalyzermanagement" />
    <property name="dnsServer" ref="dnsserver" role="org.apache.james.services.DNSServer"/> />
    <property name="processorManagement" ref="processormanagement" >
    <property name="VirtualUserTableManagementService" ref="virtualusertablemanagement" />
    <property name="org.apache.james.services.DomainListManagementService" ref="domainlistmanagement" />		
			-->
	</bean>	
	
	<bean id="usermanagement" class="org.apache.james.management.UserManagement"/>
	
	<bean id="imap-connections"
		class="org.apache.james.util.connection.SimpleConnectionManager"/>
	
	<bean id="imapserver" class="org.apache.james.imapserver.ImapServer"/>
	
	<bean id="pop3server" class="org.apache.james.pop3server.POP3Server"/>
	
	<bean id="smtpserver" class="org.apache.james.smtpserver.SMTPServer"/>
	
	<bean id="nntpserver" class="org.apache.james.nntpserver.NNTPServer"/>
	
	<bean id="nntp-repository"
		class="org.apache.james.nntpserver.repository.NNTPRepositoryImpl"/>
	
	<bean id="fetchmail" class="org.apache.james.fetchmail.FetchScheduler"/>
	

	

	
	<bean id="filesystem" class="org.apache.james.container.spring.adaptor.FileSystemBridge" />
	
	<bean id="virtualusertablemanagement"
		class="org.apache.james.management.VirtualUserTableManagement"/>
	
	<bean id="virtualusertable-store"
		class="org.apache.james.core.AvalonVirtualUserTableStore"/>
	
	<bean id="defaultvirtualusertable"
		class="org.apache.james.core.DefaultVirtualUserTable"/>
	
	<bean id="domainlist" class="org.apache.james.domain.XMLDomainList"/>
	
	<bean id="domainlistmanagement"
		class="org.apache.james.management.DomainListManagement"/>
	
	<bean id="connections"
		class="org.apache.james.util.connection.SimpleConnectionManager"/>
	

	
	<bean id="scheduler"
		class="org.apache.avalon.cornerstone.blocks.scheduler.DefaultTimeScheduler"/>
	
</beans>




