body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-small}
strong {  font-weight: bold; font-size: larger}
table {  border-style: none}
td {  border-style: none}
