body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small}
strong {  font-weight: bold; font-size: larger}
table {  border-style: none}
td {  border-style: none}
