body {  font-family: Verdana, Arial, Helvetica, sans-serif;}
td {  font-family: Verdana, Arial, Helvetica, sans-serif;font-size: 90%  }
strong {  font-weight: bold;}
p {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }
a {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }
h3 {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 100% }
li {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 90% }

table {  border-style: none}
td {  border-style: none}
