body {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px}
td {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px}
strong {  font-weight: bold; font-size: 14px}
table {  border-style: none}
td {  border-style: none}
