<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.    
-->
<document>

 <properties>
  <title>James 3.0 - Configuration</title>
 </properties>

<body>

  <section name="Configure James Server">
  
    <p>All configuration files resides in the ./conf and ./conf/META-INF folder.
      You can/must configure James for the following:</p>
    
    <table>

      <tr>
        <th>Config File Sample</th>
        <th>Config Area</th>
        <th>Config Comment</th>
      </tr>
    
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/mailserver.xml">mailserver.xml</a></td>
        <td><a href="config-serverwide.html">Server-wide Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/spring-beans.xml">spring-beans.xml</a></td>
        <td><a href="config-serverwide.html">Server-wide Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/database.properties">database.properties</a></td>
        <td><a href="config-serverwide.html">Server-wide Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td>
          <a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/jmx.properties">jmx.properties</a><br/>
          <a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/jmx.access">jmx.access</a><br/>
          <a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/jmx.password">jmx.password</a><br/>
        </td>
        <td><a href="config-serverwide.html">Server-wide Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/sqlResources.xml">sqlResources.xml</a></td>
        <td><a href="config-serverwide.html">Server-wide Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/domainlist.xml">domainlist.xml</a></td>
        <td><a href="config-domainlist.html">Domain List Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/usersrepository.xml">usersrepository.xml</a></td>
        <td><a href="config-users.html">Users Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/virtualusertable.xml">virtualusertable.xml</a></td>
        <td><a href="config-users.html">Users Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/mailstore.xml">mailstore.xml</a></td>
        <td><a href="config-mailstores.html">Mail Stores Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/miResources.xml">miResources.xml</a></td>
        <td><a href="config-mailstores.html">Mail Stores Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/jcr-repository.xml">jcr-repository.xml</a></td>
        <td><a href="config-mailstores.html">Mail Stores Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/dnsservice.xml">dnsservice.xml</a></td>
        <td><a href="config-dns.html">DNS Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/imapserver.xml">imapserver.xml</a></td>
        <td><a href="config-imap4.html">IMAP4 Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/pop3server.xml">pop3server.xml</a></td>
        <td><a href="config-pop3.html">POP3 Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/smtpserver.xml">smtpserver.xml</a></td>
        <td><a href="config-smtp-lmtp.html">SMTP Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/lmtpserver.xml">lmtpserver.xml</a></td>
        <td><a href="config-smtp-lmtp.html">LMTP Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/mailetcontainer.xml">mailetcontainer.xml</a></td>
        <td><a href="config-mailetcontainer.html">Mailet Container Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/fetchmail.xml">fetchmail.xml</a></td>
        <td><a href="config-fetchmail.html">FetchMail Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/remotemanager.xml">remotemanager.xml</a></td>
        <td><a href="config-remotemanager.html">Remote Manager Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/james-listmanager.xml">james-listmanager.xml</a></td>
        <td><a href="config-listmanager.html">List Manager Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="config-tls.html">TLS Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td><a href="config-sieve.html">Sieve Configuration</a></td>
        <td></td>
      </tr>
      <tr>
        <td><a href="https://svn.apache.org/repos/asf/james/server/trunk/container-spring/src/main/config/examples/log4j.properties">log4j.properties</a></td>
        <td>See <a href="monitor-logging.html">monitoring with log4j</a> section.</td>
        <td></td>
      </tr>

    </table>

  </section>

</body>

</document>
